* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  

/* default styling variables - making background color as white */
html{
    --bg: #fff;
    --bg-panel: #ebebeb;
    --color-heading: rgb(255, 123, 0); 
    --color-text: #000000;
}

/* dark theme styling - Here, we set data-them as "dark"*/
html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-heading: #c2bfbf; 
    --color-text: #B5B5B5;
}

header h3 {
    color: var(--color-heading);
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Jura', sans-serif;
}

body { 
    background-color: var(--bg); /* background color variable */
}

.container {
  background-color: var(--bg-panel); /* background panel color variable */
  margin: 3em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.container h1 {
  margin: 0;
  color: var(--color-heading); /* heading 1 background color variable */
  font-family: monospace;
  font-weight: lighter;
}

.container :nth-child(1+2+3){
    padding-bottom: 10px;
}

.container p {
  color: var(--color-text); /* text-color variable */
  -ms-grid-column-span: 2;
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: center;
  font-family: 'Jura', sans-serif;
}

input[type=checkbox] { /* styling for input element */
    height: 0;
    width: 0;
    visibility: hidden;
}

label { /* styling for labels */
    cursor: pointer;
    text-indent: -9999px;
    width: 150px;
    height: 56px;
    background: var(--color-heading);
    float: left;
    border-radius: 100px;
    position: relative;
}

label:after { /* styling for labels - on toggle */
    content: '';
    position: absolute;
    top: 8px;
    left: 7px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + label { /* conditional check while toggling */
    background: var(--color-heading);
}

input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

@media only screen and (min-width: 768px) {
    .container {
        margin: 5em;
        padding: 5em;
    }
    .container p {
        width: 43ch;
      }
}